@model baltaIOCrud.Models.ViewModel.UpdateStockQuantity

<h1>Edit Product</h1>

<form asp-action="Buy" method="post">
	<input type="text" asp-for="Id" />

	<div class="form-group">
		<label asp-for="StockQuantity">Stock Quantity</label>
		<input asp-for="StockQuantity" class="form-control" />
		<span asp-validation-for="StockQuantity" class="text-danger"></span>
		

	</div>

	<button type="submit" class="btn btn-primary">Save</button>
</form>

@*
<form method="post" action="@Url.Action("Buy", "Purchase")">
	@Html.AntiForgeryToken()
	<input type="text" asp-for="Id" />
	<div class="form-group">
		<label for="StockQuantity">Stock Quantity:</label>
		<input type="number" id="StockQuantity" name="StockQuantity" class="form-control" />
		@Html.ValidationMessageFor(model => model.StockQuantity)
	</div>

	<button type="submit" class="btn btn-primary">Buy</button>
</form>*@